doctype html
html(lang='en')
  head
    title Hello Jade React 
    link(rel='stylesheet', type='text/css', href='/_assets/css/style.css')

  body
    h1 Moppelchen
    #react

    script(type="text/javascript" src="/javascripts/moppelchen.js")
